[data-title]::after {
  content: attr(data-title);
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #2f312fd8;
  color: #fff;
  padding: 4px 10px;
  font-size: 1rem;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear;
}

[data-title]::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-top-color: #2f312fd8;
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear;
}

[data-title]:hover::after, 
[data-title]:hover::before {
  opacity: 1;
  visibility: visible;
}
