/* General styles */
[data-title]::after,
[data-closeMenu]::after,
[data-openMenu]::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2f312fd8;
  color: #fff;
  padding: 4px 10px;
  font-size: 1rem;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear;
}

[data-title]::before,
[data-closeMenu]::before,
[data-openMenu]::before {
  content: " ";
  position: absolute;
  border-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear;
}

[data-title]:hover::after, 
[data-title]:hover::before,
[data-closeMenu]:hover::after, 
[data-closeMenu]:hover::before,
[data-openMenu]:hover::after,
[data-openMenu]:hover::before {
  opacity: 1;
  visibility: visible;
}

/* Settings icon styles */
[data-title]::after {
  content: attr(data-title);
  bottom: calc(100% + 10px);
  overflow: visible;
}

[data-title]::before {
  bottom: 100%;
  border-top-color: #2f312fd8;
}

/* Close Menu icon styles */
[data-closeMenu]::after {
  content: attr(data-closeMenu);
  white-space: nowrap;
  top: calc(100%);
}

[data-closeMenu]::before {
 top: 65%;
 border-bottom-color: #2f312fd8;
}

/* Open Menu icon styles */
[data-openMenu]::after {
  content: attr(data-openMenu);
  white-space: nowrap;
  top: 40%;
  transform: translateY(-50%);
  left: 150%;
}

[data-openMenu]::before {
  top: 40%;
  transform: translateY(-50%);
  left: 100%;
  border-right-color: #2f312fd8;
}

/* Scrollbar styles */
.scrollbar {
  height: calc(90vh - 1rem);
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(104, 103, 103);
  border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(161, 160, 160);
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}